body {
  background-color: rgb(52, 52, 52);
  padding: 50px;
}

h1 {
  font-size: 7vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
  background-color: rgb(255, 204, 0);
  box-shadow: 5px 5px 12px rgb(31, 31, 31);
}
