article {
  border: 3px rgb(101, 104, 156); 
  border-radius: 20px;
  display: flexbox;
  align-content: space-between;
  box-shadow: 5px 5px 7px black;
}
article h2 {
  font-size: 3vw;

}

article img {
  display: flexbox;
  align-content: space-around; 
  flex-direction: row;
  margin: auto;
  height: 20vw;
  width: 100%;
  padding: 1vw;
  border-radius: 25px;
}

article p {
  margin: auto;
}

article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

article p:last-of-type:hover {
  color: purple;
}

.article-button {
  margin: .2rem .1vw;
}
