article {
  font-size: 1.5vw;
  width: auto;
  border: 15px rgb(76, 76, 76);
  background-color: rgb(255, 204, 0);
  display: inline-block;
  padding: 35px;
  align-content: space-between;
  
}
article h2 {
  color: rgb(52, 52, 52);
  font-size: 3vw;
  background-color: rgb(255, 204, 0);
}

article img {
  border: 15px outset rgb(52, 52, 52);
  display: flexbox;
  align-content: center;
  flex-direction: row;
  margin: auto;
  height: 20vw;
  width: auto;
  padding: 1.5vw;
  box-shadow: 5px 5px 12px rgb(39, 39, 39);
}

article img {
  margin: auto;
}

article img:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

article p {
  display: flexbox;
  align-items: center;
  color: rgb(52, 52, 52);
}

article h2:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

article h2:last-of-type:hover {
  color: rgb(255, 255, 255);
}

button.btn.btn-primary {
  padding: px;
  font-size: 4vw;
  border: 4px rgb(249, 207, 2);
  background-color: rgb(249, 207, 2);
}
